<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytics-IMG</title>
    <base target="_blank">
</head>
<body style="margin:0px;padding:0px;border:none;">
    <a href="http://www.amabhungane.org/">
        <img src="/img?nohit" alt="Analytics-IMG" style="width:<%= img_width %>;height:<%= img_height %>;margin-right:10px;float:left;border:none">
    </a>
    <p style="font-family:georgia;font-size:14px;line-height:20px;">
        <em>The <a href="http://www.amabhungane.org/">amaBhungane Centre for Investigative Journalism</a>, an independent non-profit, produced this story. Like it? Be an <a
        href="https://amabhungane.org/be-an-amab-supporter/">amaB Supporter </a>to help us do more. Sign up for our <a href="https://amabhungane.org/newsletter-sign-up/">newsletter</a> to get more.</em>
    </p>
</body>
</html>